.cart{
    display: grid;
    grid-template-columns: 2fr 1fr ;
}

.cartProduct {
    display: flex;

    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}
.removs{
    display: flex;
}

.cartProduct__info {
    padding-left: 20px
}

.removs > button {

   
    margin-top: 10px;
    margin-left: 10px;
  
    border-radius: 3px;
    color: #111;
}



.cartProduct__image {
    object-fit: contain;
    width: 80px;
    height: 80px;
  }

.cartProduct__rating {
    display: flex;
  }

.cartProduct__title {
    font-size: 17px;
    font-weight: 800;
}
.cart__Total{
    display: grid;
    
   padding:20px;

  
    background-color:rgba(255, 255, 255, 0.63);
    margin-bottom: 20px;

}
.cartotal1{
    display: grid;
   
    margin-left: 20px;
 
    justify-content: space-between;
    align-items: flex-end;
   
    grid-template-columns: 2fr 1fr ;
}
.cart__shipping_price{
padding-left: 50px;

}
.cart__summing{
    display: flex;    
    
 
}
.cart__summing__header {
    display: flex;
    align-items: center;
    
    justify-content: space-between;
}
.cart__summing__header  p{
    margin-left: 60px;
}
.cart__summing__value{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cartItems{
    margin: 20px;
}
.cartotal{

   
    margin-left: 0;
    display:flex;
 justify-content: space-between;
 align-items: flex-end;
}
.noUser{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% 10%; color:#574b90;
    font: size 40px;
    font-weight: bold;
 

}
@media only screen and (max-width: 900px) {
    .cart{
        display: grid;
margin-top: 25px;
        grid-template-columns:  1fr ;
    }  .cart__Total{
        display: grid;
        
       padding:20px;
    
      width:70%;
        background-color:rgba(255, 255, 255, 0.63);
        margin-bottom: 20px;
    
    }
}