






.cartProduct__image {
    object-fit: contain;
    width: 90px;
    margin-left:10px;
    height: 90px;
  }
 .myorder__details{
     background-color: #dee1ec; 
     margin: 5px;
     padding: 10px;
 }



  @media only screen and (max-width: 600px) {

    .myorder{
        
      
         margin: 15%  10px; 
        padding: 5px ;
    }
    .myorder___heading p{
       font-size:1.2rem;
       font-weight:800;
    }
  }