.navbar {
    height: 60px;
    display: grid;
    grid-template-columns: 1fr  4.5fr 0.5fr 0.5fr 0.4fr ;
    width: 100%;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .navbar__logo {
    width: 100px;
    justify-content: center;
    object-fit: contain;
    align-items: center;
    margin: 0 20px;
   
  }
  /* .navv{
    display: grid;

    margin-left: 40%;
    justify-content: flex-end;
  } */
  .navbar__search {
    display: flex;
  
    align-items: center;
    border-radius: 24px;
  }
  
  .navbar__searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    
    width: 70%;
  }
  input[type="text"], textarea, select { 
    outline: none;
}
  
  .navbar__searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
  }
  
  .navbar__optionLineOne {
    font-size: 10px;
  }
  
  .navbar__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
  }
  


.navbar__basketCount1 {
 position:absolute;
 top: 4%;
 background-color: #131921;
  text-decoration: none;
  border-radius:100%;
  padding:3px;
  border:none;
}

  .navbar__nav {
    display: flex;
    margin: 0 10px;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
  }
  
  .navbar__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
  }
  .navbar__miniScreen{
      display:none;
      align-items: center;
      justify-content: center;
  }

  .navbar2__search{
    display:none;
  }
  .mibileview{
  display: none;
color: white;
align-items: center;
justify-content: center;
  
  }
  .menutoggle{
    display: none;
  }
  .navbar__optionBasket1{
    display:flex;
    
    justify-content: center;
    color: white;
  }


  .sideBar__hide{
    display: none;
  }
  .searchResults{
    position: absolute;
    top: 77.5%;
    
  color: black !important;;
 border-end-end-radius: 4%;
 border-end-start-radius: 4%;
    width: 44.2%;
    border-top: 1px solid black;
    background-color:white;
  }
  .searchResults__Links{
    display: grid;
    cursor: pointer;
    grid-template-columns: 1fr 3fr;
    border-bottom: 1px solid rgba(201, 199, 199, 0.836);

  }
.searchResults__Links img{
  height:60px;
  width:60px;
  object-fit: contain;
}.searchResults1{
  display: none;
}
  @media screen and (max-width: 800px){
  
    .searchResults{
      position: absolute;
      top: 77.9%;
      
    color: black !important;;
   border-end-end-radius: 4%;
   border-end-start-radius: 4%;
      width: 41%;
      background-color:white;
    }
  }
  @media only screen and (max-width: 700px) {
  
    .avtar1, .navbar__optionBasket1,.navbar__basketCount1,
    
    .navbar__hidden{
      display:none;
 
    }
   
    .navbar { 
      padding: 0 1px;
      height: 60px;
      display: flex;
      width: 100% !important;
      align-items: center;
      background-color: #131921;
   
      margin-top: 0;
      z-index: 100;
    }
 
    .navbar__logo {
        width: 60px;
        justify-content: center;
        object-fit: contain;
        align-items: center;
        margin: 0 10px;
       
      } 
      .navbar__search {
        display: none;
       
      }
      
      .mibileview{
        flex:0.6;
        display: flex; 
width:100%;
        align-items: center;

      }   
  .navbar__optionBasket {
    display: flex;
    align-items: center;
   top:25%;
   left: 86%;

position: absolute;
    justify-content: flex-end;
    color: white;
    
  }
  
.navbar__avatar{
flex: 0.4;
  position: absolute;
  top: -30%;
  border-bottom: 1px solid white;
  left:10% !important;
 margin: 10px;
}

  
.navbar__miniScreen{
          display: block;
          align-items: center;
       
          justify-content: center;
          color: white;
      }
      .togl{
          display: flex;
          justify-content: flex-end;
          margin-left:13px;
          align-items: center;
      }
      .navbar__menu{
          margin-top: 109px;
          margin: 0 20px;
          align-items: center;
          background-color: #131921;
      }
      
 

  .navbar2__search{
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 99%;
    left:0;
    height: 50px;
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #131921;
    z-index: 99;
    

   
    align-items: center;
  
    
  }
  .navbar2__searchInput{
    flex: 0.7;
   
    height: 30px;
    border-radius:5px;
    border: 0;
  
    margin-right: 1%;
  }
  .navbar2__searchIcon {
    padding: 5px;
    position: absolute;
    margin-left: 1%;
    margin-right: 1%;
  
    height: 27px; left: 79%;
    background-color: #cd9042;
    border-radius:5px;
  }
 .menutoggle{
   display: block;
   align-items: center;
   justify-content: center;
   color:white; 
   margin-left:3%;
   padding: 3px;
   border: none;
  border-radius:4%;

 }

 
  .sideBar{
  
   
    
    z-index: 100;
    width: 40vh;
    background-color: #131921;
  }
 .sidebar__h {
  margin-top: 15%;
  align-items: center;
  color:white;

  justify-content: flex-start;
  display: flex;
}
/* .searchResults1{


  
color: black !important;;
border-end-end-radius: 4%;
border-end-start-radius: 4%;
  width: 47.5%;
  background-color:black;
} */
.mnavSerachResults{
  position: fixed;
  top: 15.9%;
  background-color:white;
  width: 65%;
  left: 15%;
  border-top: 1px solid black;

}
.searchResults1__Links{
  display: grid;
  cursor: pointer;
  grid-template-columns: 1fr 3fr;
  border-bottom: 1px solid rgb(187, 187, 187);

}
.searchResults1__Links img{
height:60px;
width:60px;
object-fit: contain;
}
  }